<h2>Vouchers</h2>

<div class="card" *ngFor="let token of tokens$ | async">
    <div class="card-status" attr.data-state="{{token.state}}">
        {{getStatusLabel(token)}}
    </div>
    <div class="card-header">
        <div class="card-icon-wrapper" title="Klik hier om de QR code te bekijken" (click)="showQr(token)">
            <qrcode [qrdata]="getQrCode(token)" [size]="70" [level]="'L'"></qrcode>
        </div>
        <div class="card-title-wrapper">
            <h2 class="card-name"><a class="card-name" href="/voucher/{{token.address}}">{{token.name}}</a> </h2>
            <h3 class="card-sponsor">{{token.owner}}</h3>
        </div>
    </div>
    <div class="card-content">
        <span class="card-categories-label">Categorieën</span>
        <span class="card-categories">Categorie A, categorie B</span>
    </div>
    <div class="card-bottom">
        <div class="button-wrapper">
            <a class="button edit-token" *ngIf="canEdit(token)" href="/voucher/{{token.address}}">Meer weten</a>
            <a class="button request-token" *ngIf="canRequest(token)" href="/voucher/{{token.address}}/aanvragen">Aanvragen</a>
        </div>
    </div>
</div>