
$cardPrimaryBackgroundColor: #ffffff;
$cardSecondaryBackgroundColor: #f6f9fc;

$cardNameColour: #151b26;
$cardBlueColour: #009ef4;

$cardBorderColor: #e7e7e7;

.card {
    background: $cardPrimaryBackgroundColor;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.card-content {
    padding: 0 35px 20px 35px;
}

.card-bottom {
    background: $cardSecondaryBackgroundColor;
    border-top: 1px solid $cardBorderColor;
    padding: 24px;

    .button-wrapper {
        width: 100%;
        height: 38px;
    
        button, .button {
            text-decoration: none;
            background: #134478;
            border-color: #134478;
            color: #fff;
            float:right;
            line-height: 38px;
            padding: 0 15px;
        }
    }
}